* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
nav {
    padding: 0px 40px;
}

header {
    background-image: url(../Features/image.jpg);
    background-size: 100%;
    height: 600px;
    text-align: center;
}

h1 {
    padding-top: 250px;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #CCD3DB;
  }
  textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #CCD3DB;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  section {
    display: flex;
    flex-wrap: wrap;
}
main {
    width: 40%;
    padding: 30px 50px;
    background-color: #CCD3DB;
    color: #468AC9;
    
}
aside {
    width: 60%;
    background-color: #468AC9;
    padding: 30px 20px;
    color: #CCD3DB;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li:first-child{
      border: 4px solid;
      border-color: #CCD3DB;
      margin: 10px;
      padding: 0px 8px;
      float: left;
  }

  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }